name: neurosdk2_example
description: "Demonstrates how to use the neurosdk2 plugin."

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

resolution: workspace

environment:
  sdk: ^3.10.3

dependencies:
  flutter:
    sdk: flutter

  neurosdk2:
    path: ../

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
