name: app_ui
description: "A new Flutter package project."
version: 0.0.1
homepage:
publish_to: none
resolution: workspace

environment:
  sdk: ^3.10.0
  flutter: ">=3.38.0"

dependencies:
  flutter:
    sdk: flutter
  app_logic:
    path: ../app_logic
  device_info_ffi:
    path: ../device_info_ffi
  layout:
    path: ../layout
  material:
    path: ../material
  neurosdk2:
    path: ../neurosdk2
  material_symbols_icons: ^4.2892.0
  meta: ^1.17.0
  rxdart: ^0.28.0
  url_launcher: ^6.3.2
  share_plus: ^12.0.1
  simple_icons: ^14.6.1
  collection: ^1.19.1
  async: ^2.13.0
  uuid: ^4.5.2
  shared_preferences: ^2.5.3
  bixat_key_mouse: ^1.0.3
  win32: ^5.15.0
  vector_math: ^2.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  app_lints:
    path: ../app_lints

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
